.submitButton {
    outline: none;
    height: 40px;
    text-align: center;
    width: 190px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #f4661b;
    color: #f4661b;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
.submitButton:hover {
    color: white;
    background: #f4661b;
}
.submitButton:active {
    letter-spacing: 2px;
}
.submitButton:after {
    content: 'Télécharger le fichier';
}
.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    border-left-color: #f4661b;
    font-size: 0;
    animation: rotating 2s 0.25s linear infinite;
}
.onclick:after {
    content: '';
}
.onclick:hover {
    color: #f4661b;
    background: white;
}
.validate {
    font-size: 13px;
    color: white;
    background: #f4661b;
}
.validate:after {
    font-family: 'FontAwesome';
    content: '\f00c';
}
.error {
    font-size: 13px;
    color: white;
    background: #f00000;
}
.error:after {
    font-family: 'FontAwesome';
    content: '\f00d';
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}